<div class="grid-container">
  <div>
    <h1 class="mat-h1">Users
    </h1>
    <mat-form-field>
      <mat-label>limit</mat-label>
      <input matInput [(ngModel)]="limit" type="number">
    </mat-form-field>
    <button mat-button (click)="fetchUsers()">NEW</button>
  </div>
  <mat-grid-list cols="5" rowHeight="125">
    <mat-grid-tile *ngFor="let user of results " [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{ user.name.first }} {{ user.name.last }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="person-image">
            <img width="128px" height="128px" mat-card-image src="{{ user.picture.large }}" alt="">
          </div>
          <div class="location">
            {{ user.location.city }},
            {{ user.location.country }}
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
